name = "oddly-useful-house-proxy"
main = "src/index.js"
compatibility_date = "2025-01-01"

[durable_objects]
bindings = [{ name = "RATE_LIMITER", class_name = "RateLimiter" }]

[[migrations]]
tag = "v1"
new_classes = ["RateLimiter"]